<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="float-right"><h1>View and adopt <a href="#"> 🐾 cute adorable <b>puppies</b></a>!</h1></div>
  </div>
  <div class="row">
    <div class="col-md-8"><h1>Whopping <b>7-star </b><a href="#">Dog hotels 🏨</a></h1></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="float-right"><h1>See that <b>kitten</b>? <a href="#">🐱 Save the kittens!</a></h1></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8"><h1>Save the kittens <a href="#"><b>offline</b> version 😱</a></h1></div>
  </div>
</div>


<app-sidebar></app-sidebar>
